
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Roboto","Lobster", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$orange : rgba(255, 129, 21, 0.87);
$blue1: #0056cc;
$light_green: #84c555; // #55cfa2
$cyan_green: #83C554; // #04C49A;
$dark_green: #1f9a38;
$yellow : #eee525;
$quite-green : rgba(93, 204, 96, 0.27);
$borderRadius: 5px;